.bus-details {
  padding: 30px;
}

.detail-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 16px;
}

.back-btn {
  margin-bottom: 16px;
  padding: 10px 18px;
  background: #0a66ff !important;
  color: #fff !important;
  border: none;
  border-radius: 8px;
}

.book-btn {
  padding: 12px 24px;
  background: #0a66ff !important;
  color: #fff !important;
  border: none;
  border-radius: 10px;
}
