.cab-details-page {
  padding: 120px 30px;
}

.back-btn {
  background: none;
  border: none;
  color: #0a66ff;
  cursor: pointer;
  margin-bottom: 20px;
}

.cab-details-card {
  display: flex;
  gap: 30px;
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.cab-details-img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.price {
  font-weight: bold;
  color: #0a66ff;
}
